

/* Style pour les anchorPane pour les vues principales.

    Cela comprend homePage, adminConn et prodConn.

*/

.mainPane {
    -fx-background-color: rgb(240, 238, 238);
}

.sideRectangle {
    -fx-fill: rgb(127, 255, 212);
    -fx-stroke: none;
}

.topRectangle {
    -fx-fill: rgb(186, 255, 186);
    -fx-stroke: none;
}

.homePageButton {
    -fx-background-color: aquamarine;
}

.prettyField {
    -fx-background-color: none;
    -fx-border-style: hidden hidden solid hidden;
}

.prettyField:focused {
    -fx-border-color: rgb(56, 56, 210);
}